* {
    box-sizing: border-box;
}
#products {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#products > li {
    width: 25%;
    border: 1px solid black;
    height: 200px;
    padding-top: 25%;
    position: relative;
}

#products > li > .card {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
}

.card * {
    pointer-events: none;
}